* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 65px;
    padding: 0 170px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}