* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 65px;
    padding: 0 170px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
    height: 50vh;
    background-color: #1f2937;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.hero-text button {
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
}

.hero-img img {
    width: 450px;
    height: 260px;
}

/* Info section */

.info {
    height: 60vh;
    text-align: center;
    color: #1f2937;
}

.info h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 40px 0;
}

.item-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.item-container img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 8px;
    margin-bottom: 5px;
}

/* Quote section */

.quote {
    height: 60vh;
    background-color: #e6e7eb;
    color: #1f2937;
    display: flex;
    align-items: center;
    padding: 0 240px;
}

.quote p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote figcaption {
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

/* Signup section */

.signup {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #3882f6;
    color: #EDEEC9;
    width: 75vw;
    height: 20vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-text h2 {
    margin-bottom: 5px;
}

.modal-button button {
    background-color: #3882f6;
    color: #EDEEC9;
    height: 35px;
    padding: 0 30px;
    border: 2px solid #EDEEC9;
    border-radius: 8px;
    font-size: 1.2rem;
}

/* Footer section */

footer {
    height: 13vh;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EDEEC9;
    font-size: 1.1rem;
}

button:hover {
    background-color: #3a86ff;
}