* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 65px;
    padding: 0 170px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 170px;
    width: 100%;
    height: 50vh;
    background-color: #1f2937;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 10px 0;
}

.hero-text button {
    font-size: 18px;
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
}

.hero-img img {
    width: 450px;
    height: 260px;
}

/* Info section */

.item-container img {
    width: 200px;
    height: 200px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}